.item {
    box-shadow: 0 0 3px rgba(110, 110, 110, 0.781);
    padding: 15px;
    margin-left: 15px;
    margin-top: 20px;
}
.item .name{
    color: tomato;
    font-size: 20px;
    font-weight: bold;
}
.item .price{
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    font-size: 20px;
    font-weight: bold;
}
.item button{
    margin-top: 10px;
    background-color: rgb(15, 155, 15) !important;
    color: white !important;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.category{
    border: 2px solid rgb(169, 176, 176);
    margin-right: 50px;
    align-items: center;
    padding-left: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.category h4{
    margin-right: 25px;
    font-size: 22px;
}
.category img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -2px;
}
.selected-category{
    border: 3px solid rgb(30, 38, 66);
}

/* --------- Bill stylle----------- */
.bill-header{
    border-bottom: 2px dotted gray;
}
.bill-model h1{
    font-size: 30px;
}
.bill-model p{
    margin-top: 0;
    margin-bottom: 0!important;

}
.dotted-border{
 border-bottom: 2px dotted gray;
}