.site-layout .site-layout-background{
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
}

.ant-layout-has-sider{
    padding: 15px !important;
}

.ant-layout-sider{
    border-radius: 10px !important;
     padding: 15px !important;
    height: 95vh;
}
.ant-layout-sider-children{
  border-radius: 10px !important;
  padding-top: 15px;
  padding-right: 20px;

}

.ant-layout-header{
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 0 10px !important;
    justify-content: space-between;
}
.anticon svg{
    height: 20px;
    width: 20px;
    font-size: 20px;
}
.ant-menu-title-content a{
    text-decoration: none !important;
}
.demo-logo-vertical h3{
    color: #0887ad;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}
.ant-menu-item-selected{
  background-color: #047979 !important;
  
}
.cart-count{
    cursor: pointer;
}